.regist-info-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 40rpx;
  margin-right: 40rpx;
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  border: 1rpx solid white;
  border-radius: 20rpx;
}

.regist-info-context {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 30rpx;
  margin-right: 30rpx;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  justify-content: space-between;
  text-align: right;
}



