.AAA {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20rpx;
  left: 50rpx;
  right: 50rpx;
  background-color: red;
  color: #fff;
  height: 80rpx;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1rpx solid #3d77f0;
  border-radius: 20rpx;
  z-index: 99;
}
